.swiper {
  width: 100%;
  height: auto; /* تعديل الارتفاع ليكون متجاوبًا */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto; /* تعديل العرض ليكون متجاوبًا */
  height: auto; /* تعديل الارتفاع ليكون متجاوبًا */
  max-width: 100%; /* تحديد العرض الأقصى للصورة */
}

.subscribe {


  padding: 20px;
}

.subscribe p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--main-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

@media screen and (min-width: 800px) {
  .swiper {
    width: 80%;
  }
  .subscribe {

max-width: 500px;
    padding: 20px;
  }
}
