

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 400px;
  height: 300px;
  max-width: 100%; 
  object-fit: cover;
}

.subscribe {


  padding: 20px;
}

.subscribe p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--main-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color);
}


